.App {
  text-align: center;
  height: 100%;
}
.splashscreen{
  float: left;
  width: 75%;
  height: 100%;
  text-align: center;
}
.gamename{
  margin-top: 15%;
  color: rgba(103, 107, 132, 0.29);
  font-size: 80pt;
  font-weight: bolder;
  opacity: 0.8;
}
