.board{
    float: left;
    width: 80%;
    height: 100%;
    text-align: center;
}
.playground{
    position: absolute;
    align-content: center;
    top: 30%;
    left: 20%;
}

.ghostHolder{
    visibility: hidden;
    display: inline-flex;
    text-align: center;
    width: 160px;
    height: 80px;
}