.board{
    float: left;
    width: 75%;
    height: 100%;
    text-align: center;
}
.playground{
    display: flex;
    position: absolute;
    align-content: center;
    top: 30%;
    left: 20%;
}

.endsection{
    display: flex;
    flex-grow: 1;
}
.midsection{
    display: flex;
    flex-direction: column;
    flex-grow: 6;
}
.midrow{
    display: flex;
    flex-grow: 1;
}